
<div class = "hs-user">
  <div class="hs-user--header">
    <div class = "has-logo">
      <a href="<%= url_for(root_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "button-project">
      <a href="<%= url_for(projects_entry_path) %>">
        <button class="ui button" >
          プロジェクトを追加する
        </button>
      </a>
    </div>
  </div>

  <div class = "hs-users-sidebar-wrapper">
    <div class = "hs-users-sidebar">
      <h1><%= current_user.username %></h1>
      <div class = "user-photo">
      </div>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button class="ui button" >
          Log out
        </button>
      <% end %>
    </div>
    <div class = "hs-users-main_contents">
      <div class="hs-m--table normal">
        <h2>Your Projects</h2>

          <table>
            <thead>
              <tr>
                <th width="100">Project</th>
                <th width="150">Commit数</th>
              </tr>
            </thead>

            <tbody>
              <% @projects.reverse_each do |t| %>
                <tr>
                  <td><a href="https://github.com/<%= current_user.username %>/<%= t.name %>/">
                    <%= t.name %>
                  </a>
                  </td>
                  <td>
                    <%= link_to t.commit_num, projects_show_path(id: t.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>
