<div class = "hs-user">

  <div class="hs-user--header">
    <div class = "has-logo">
      <a href="<%= url_for(home_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "button-project">
      <a href="<%= url_for(projects_entry_path) %>">
        <button class="ui button" >
          プロジェクトを追加する
        </button>
      </a>
    </div>
  </div>

  <div class = "hs-users-sidebar-wrapper">
    <!-- 左側：ユーザー情報 -->
    <div class = "hs-users-sidebar">
        <div class = "user-photo">
          <%= image_tag('syu-ru_yagi_user.png') %>
        </div>
        <div class = "user-name">
          <h1><%= current_user.username %></h1>
        </div>

        <div class = "button-area">
          <div class = "button-logout">
            <%= link_to users_setting_path  do %>
            <button class="ui button" >
              設定
            </button>
            <% end %>
          </div>
        </div>

        <div class = "button-area">
          <div class = "button-logout">
            <a href="https://docs.google.com/forms/d/1mc3KoMz5BBqCpp3uJmdY8phnxNnFovQPVGSf7GV2hsQ">
            <button class="ui button" >
              レビュー
            </button>
            </a>
          </div>
        </div>

        <%= link_to destroy_user_session_path, method: :delete do %>
        <div class = "button-area">
          <div class = "button-logout">
            <button class="ui button logout" >
              ログアウト
            </button>
          </div>
        </div>
        <% end %>
      </div>
    <!-- 右側：プロジェクト一覧 -->
      <div class = "hs-users-main_contents">
        <div class = "hs-users-renewal">
          <h2>更新状況</h2>
          <p>
            <% @recent_commit_logs.reverse_each do |log| %>
              <div class="aa" >
                <%= log.message %>
              </div><br>
            <% end %>
          </p>
          <!--ここに更新状況を書く-->
        </div>

        <div class = "hs-project-pictures-wrapper">
          <div class = "hs-users-table-project">
            <div class="hs-m--table normal">
              <h2 class="list_title">プロジェクト一覧</h2>
              <div class="projects_flame">
                <table>
                  <thead>
                    <tr>
                      <th width="230">プロジェクト名</th>
                      <th width="30">エサ</th>
                      <th width="30">実績</th>
                      <th width="30">削除</th>
                      <th width="30">編集</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @projects.reverse_each do |t| %>
                      <tr>
                        <td><a href="https://github.com/<%= t.owner %>/<%= t.name %>/">
                          <div class = "project_name">
                            <%= t.name %>
                          </div>
                        </a>
                        </td>
                        <td>
                          <%= t.commit_num %>
                        </td>
                        <td>
                          <%= link_to projects_show_path(t) do %>
                            <i class="trophy icon">
                            </i>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to projects_entry_path(project_id: t.id), method: :delete do %>
                            <div class="delete">
                              <i class="trash alternate icon"></i>
                            </div>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to projects_edit_path(id: t.id) do %>
                          <div class="change">
                            <i class="edit icon"></i>
                          </div>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class = "hs-users-pictures">
            <h2 class="list_title">獲得絵画</h2>
            <div class = "pictures">
              <%= image_tag('Mojiyagi.png') %>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
