
<div class = "hs-user">


  <div class="hs-user--header">
    <div class = "has-logo">
      <h1>HAS</h1>

    </div>
    <div class = "button-project">
      <button class="ui button" >
        <a href="/projects/entry"> プロジェクトを追加する </a>
      </button>
    </div>

  </div>

  <div class = "hs-users-sidebar-wrapper">
    <div class = "hs-users-sidebar">
      <h1><%= current_user.username %></h1>
      <div class = "user-photo">
      </div>
      <button class="ui  button" >
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </button>
    </div>
    <div class = "hs-users-main_contents">
      <h2>ProjectURL一覧</h2>
      <% @projects.each do |t| %>
        <div>
          <a href="https://github.com/<%= current_user.username %>/<%= t.name %>/">
            https://github.com/<%= current_user.username %>/<%= t.name %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
