<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="hs-m--hero">
  <div class="hs-hero--header" id = "hs-hero--header">
    <div class = "has-logo">
      <a href="<%= url_for(home_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "hs-header-home">
    </div>
    <div class="button-area">

      <% if user_signed_in? %>
        <div class="ui buttons">
          <a href="<%= url_for(users_path) %>">
            <button class="buttonman">
              <%= current_user.username %>
            </button>
          </a>
          <div class="or"></div>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="buttonman" >
            ログアウト
          </button>
          <% end %>
        </div>
      <% else %>
        <div class="ui buttons">
          <a href="<%= url_for(user_github_omniauth_authorize_path) %>">
            <button class="buttonman">
              Github ログイン
            </button>
          <a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="topbox">
    <div class = "has-catchphrase">
      <h1>Let's grow Projects & Goats</h1>
    </div>

    <div class = "has-setumei">
      <p>ヤギを飼うように、あなたのプロジェクトを育てる</p>
    </div>

    <div class="button-area2">

      <% if user_signed_in? %>
          <a href="<%= url_for(users_path) %>" class="userbutton">
            <button class="ui inverted button">
            ユーザページ
            </button>
          </a>
      <% else %>
        <a href="<%= url_for(user_github_omniauth_authorize_path) %>">
          <button class="ui inverted button">
            Githubログインではじめる
          </button>
        </a>
      <% end %>
    </div>
    <div class = "learnmore-button">
      <i class="big angle double down icon"></i>learnmore
    </div>
  </div>
</div>

<div class = "hs-m--has_what">
  <div class= "has_what_title">
    HASってなに？
  </div>
  <div class = "has-setumei2">
    <p>HASは趣味で開発している人向けの支援サービスです。<br>
    開発を先延ばしにしてしまう状況を改善し，<br>
    進めるように促すことができます</p>
  </div>
</div>
<div class = "hs-m--has_what">
  <div class= "has_what_title">
    使い方
  </div>
  <div class = "has-setumei2">
    <p>下のログインボタンから<br>
    Githubと連携しよう</p>
    <a href="<%= url_for(user_github_omniauth_authorize_path) %>">
      <button class="ui inverted blue button">
        Githubログインではじめる
      </button>
    </a>
    <h1>↓↓連携系の画像↓↓</h1>
    <div class = "Github_link_img">
    </div>
    <div class = "goat_button">
      <i class="big angle double down icon"></i>ヤギについて知る
    </div>
  </div>
</div>


<div class = "hs-m--commit">
  <div class = "userpage-setumei">
    <br>
    HASにプロダクトを登録することで進捗状況を確認できます
  </div>
  <div class = "userpage-setumei-wrapper">
    <div class = "userpage-gazou">
      <%= image_tag('userpage.png') %>
    </div>
    <div class = "userpage-setumei2">
      ユーザーページにて<br>
      コミット数の確認ができます


    </div>
  </div>
</div>

<div class="hs-m--yagi">
  <div class="hs-m--yagi-exam">
    <p><br>ヤギはあなたに際限なくコミットを求めるでしょう<br>
      プロジェクトを開発しコミットをすることで<br>
      ヤギに餌を与えましょう<p>
  </div>
  <div class="yagi-gazou">
    <%= image_tag('Mojiyagi.png') %>
  </div>
</div>

<div class = "hs-m--learnmore">
  <div class = "learnmore-exam">
    <p><br>あなたのコミット状況によって，ヤギから届くメールの内容が変化します。<br>
ヤギからのメールはあなたにコミットをするように促すでしょう。<br>
ヤギを満足させるために，プロジェクトを進めましょう。</p>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(function(){
    var _window = $(window),
        _header = $('#hs-hero--header'),
        heroBottom;
    _window.on('scroll', function(){

        heroBottom = $('.hs-m--hero').height();
        if (_window.scrollTop() > heroBottom) {
              _header.addClass('scrolled');
          } else {
              _header.removeClass('scrolled');
          }


    });
    _window.trigger('scroll');
  });
</script>
