
<div class="hs-m--hero">
  <div class="hs-hero--header">
    <div class = "has-logo">
      <a href="<%= url_for(root_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "hs-header-home">
      <a href="<%= url_for(root_path) %>">
        <h1>HOME</h1>
      </a>
    </div>
    <div class = "hs-header-release">
      <h1>RELEASE</h1>
    </div>
    <div class="button-area">

      <% if user_signed_in? %>
        <div class="ui buttons">
          <a href="<%= url_for(users_index_path) %>">
            <button class="ui button">
              <%= current_user.username %>
            </button>
          </a>
          <div class="or"></div>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="ui button" >
            ログアウト
          </button>
          <% end %>
        </div>
      <% else %>
        <div class="ui buttons">
          <a href="<%= url_for(user_github_omniauth_authorize_path) %>">
            <button class="ui button">
              Github ログイン
            </button>
          <a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="topbox">
    <div class = "has-catchphrase">
      <h1>Let's grow Projects & Goats</h1>
    </div>

    <div class = "has-setumei">
      <p>ヤギを飼うように、あなたのプロジェクトを育てる</p>
    </div>
    <div class="button-area2">

      <% if user_signed_in? %>
          <a href="<%= url_for(users_index_path) %>">
            <button class="ui inverted button">
              User page
            </button>
          </a>
      <% else %>
        <a href="<%= url_for(user_github_omniauth_authorize_path) %>">
          <button class="ui inverted button">
            Githubログインではじめる
          </button>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="hs-m--yagi">
  <div class="hs-m--yagi-exam">
    <p>ヤギはあなたに際限なくコミットを求めるでしょう<br>
      プロジェクトを開発しコミットをすることで<br>
      ヤギに餌を与えましょう<p>
  </div>
  <div class="yagi-gazou">
  </div>
</div>
<div class = "hs-m--learnmore">
  <div class = "learnmore-exam">
    <p>あなたのコミット状況によって，ヤギから届くメールの内容が変化します。<br>
ヤギからのメールはあなたにコミットをするように促すでしょう。<br>
ヤギを満足させるために，プロジェクトを進めましょう。</p>
  </div>
</div>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
