<div class = "hs-m--project">
  <div class="page__bg"></div>
  <div class="page__decoration"></div>
  <div class="page__frame"></div>
  <div class="page__inner">
    <div class = "hs-project">
      <%= form_for @project, url: { controller: 'projects', action: "update" } do |f| %>

        <div class = "hs-project--commit-speed">
          <p>ヤギが一度に食べるコミットの数</p>
          <%= f.select :goat_eat_speed, (1..5).to_a.map{|n| [n, n]}, {}, { class: "ui dropdown"} %>
        </div>

        <div class = "hs-project--commit-inform-model">
          <p>通知の間隔</p>
          <%= f.select :day_interval, (1..7).to_a.map{|n| [n.to_s + '日ごと', n-1]}, {}, { class: "ui dropdown"} %>
        </div>
      <!-- ※twitterアカウントを登録していない方はコチラ　なんかリンク貼って -->
      <%= submit_tag('更新する', class: "ui button") %>
    <% end %>
    </div>
    <a class="page__close-btn" href="<%= url_for(users_path) %>"><div></div><div></div></a>
  </div>


</div>
