<div class = "hs-m--project">
  <div class="hs-user--header">
    <div class = "has-logo">
      <a href="<%= url_for(home_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class="button-area">
        <div class="ui buttons">
          <a href="<%= url_for(users_path) %>">
            <button class="ui button return">
              ユーザーページへ戻る
            </button>
          </a>
        </div>
    </div>
  </div>


  <div class = "hs-project">
    <%= form_for @project, url: { controller: 'projects', action: "create" } do |f| %>
    <p>追加するプロジェクト</p>
      <div class = "hs-project--commit-add">
        <%= f.select(:name, @form_repos, {}, { class: "ui dropdown"} )%>
      </div>

    <div class = "hs-project--commit-speed">

      <p>ヤギが一度に食べるコミットの数</p>
      <%= f.select :goat_eat_speed, (1..5).to_a.map{|n| [n, n]}, {}, { class: "ui dropdown"} %>
    </div>
    <div class = "hs-project--commit-inform-model">
      <p>通知の間隔</p>
      <%= f.select :day_interval, (1..7).to_a.map{|n| [n.to_s + '日ごと', n-1]}, {}, { class: "ui dropdown"} %>
    </div>
    <div class = "hs-project--commit-inform-model">
          <p>通知モデル</p>
          <!-- <%= f.select(:name, @form_repos, {}, { class: "ui dropdown"} )%> -->
          <select class="ui dropdown">
            <option value="0">ヤギ</option>
          </select>
    </div>
    <div class = "hs-project--commit-inform-type">

          <p>通知タイプ</p>
          <select class="ui dropdown">
            <option value="0">メール</option>
          </select>
    </div>
    <!-- ※twitterアカウントを登録していない方はコチラ　なんかリンク貼って -->
    <%= submit_tag('追加する', class: "ui button") %>
  <% end %>
  </div>


</div>
