
<div class = "hs-achive--header-container">

  <div class="hs-achive--header">
    <div class = "has-logo">
      <a href="<%= url_for(home_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "button-project">
      <a href="<%= url_for(users_path) %>">
        <button class="ui button return">
          ユーザーページへ戻る
        </button>
      </a>
    </div>
  </div>
</div>
<div class="page__inner">
    <div class="achive-content">
    <div class="achive-headline"><i class="trophy icon"></i>これまでの実績</div>
      <div class="achives-area">
        <% @trophy_list.each do |trophy| %>
          <div class="an-achive-area">
            <div class="inner">
              <div class="achive-picture" >
                <%= image_tag(trophy.img_path)%>
                <!-- <div class="achive-picture" > -->
              </div>
              <p class="achive-name"> <%= trophy.name %> </p>
              <!--  トロフィー画像： <%= trophy.img_path %>   -->
              <p class="sentence"> <%= trophy.sentence %></p>
              <!--  トロフィー説明文？： <%= trophy.sentence %>   -->
              <p class="date"> ????/??/??</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
