
<div class = "hs-achive--header-container">

  <div class="hs-achive--header">
    <div class = "has-logo">
      <a href="<%= url_for(home_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "button-project">
      <a href="<%= url_for(users_path) %>">
        <button class="ui button return">
          ユーザーページへ戻る
        </button>
      </a>
    </div>
  </div>
</div>

    <div class="achive-content">
    <div class="achive-headline"><i class="trophy icon"></i>これまでの実績</div>
      <div class="achives-area">
        <% @trophy_list.each do |trophy| %>
          <div class="an-achive-area">
            <div class="inner">
              <div class="achive-picture" >
                <!--  トロフィー画像： <%= trophy[0].img_path %>   -->
                <%= image_tag(trophy[0].img_path)%>
                <!-- <div class="achive-picture" > -->
              </div>
              <p class="achive-name"> <%= trophy[0].name %> </p>
              <!--  トロフィー説明文？： <%= trophy[0].sentence %>   -->
              <p class="sentence">
                <% trophy[0].sentence.split('\n').each do |t| %>
                 <%= t %><br>
                <% end %>
              </p>
              <p class="date"> <%= trophy[1] %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
