
<div class = "hs-achive--header-container">

  <div class="hs-achive--header">
    <div class = "has-logo">
      <a href="<%= url_for(home_path) %>">
        <h1>HAS</h1>
      </a>
    </div>
    <div class = "button-project">
      <a href="<%= url_for(users_path) %>">
        <button class="ui button return">
          ユーザーページへ戻る
        </button>
      </a>
    </div>
  </div>
</div>
  <div class="achive-content">
  <p class="achive-headline"><i class="trophy icon"></i>これまでの実績</p>
    <div class="achives-area">
      <% @trophy_list.each do |trophy| %>
        <div class="an-achive-area">
          <span class="remark">表示確認</span>
          <div class="achive-picture" >
            <%= image_tag(trophy.img_path)%>
            <!-- <div class="achive-picture" > -->
          </div>
          <p class="achive-name"> <%= trophy.name %> </p>
          <!--  トロフィー画像： <%= trophy.img_path %>   -->
          <!--  トロフィー説明文？： <%= trophy.sentence %>   -->
        </div>
      <% end %>
    </div>
  </div>
</div>
